// global
@import '_global/normalize'
@import '_global/variables'
@import '_global/fonts'
@import '_global/base'
@import '_global/svg-sprite.css'

// modules
@import '_modules/page-header'
@import '_modules/logo'
@import '_modules/navigation'
@import '_modules/page-main'
@import '_modules/heading'
@import '_modules/partners'
@import '_modules/reviews'
@import '_modules/review'
