.partners
  padding-top 30px

  &__title
    width 240px
    margin 0 auto
    margin-bottom 30px
    text-align center
    text-transform uppercase
    font-weight 300
    font-size fz_small
    line-height calc(22/16)
    letter-spacing 2.33px

    @media tablet
      width auto
      font-size fz_xxmedium
      line-height calc(62/24)
      letter-spacing 3.5px

    @media desktop
      font-size fz_large
      line-height calc(62/36)
      letter-spacing 5.25px


  &__wrap
    position relative
    overflow-x auto
    margin-bottom 20px

    @media tablet
      margin-bottom 44px

    @media laptop
      margin-bottom 50px

    @media desktop
      margin-bottom 60px


  &__list
    position relative
    display flex
    justify-content space-between
    margin 0
    padding 0
    list-style none


  &__item
    margin-right 38px

    &:last-child
      margin-right 0

    @media tablet
      margin-right 75px

    @media desktop
      margin-right 100px
