@font-face
  font-family Geometria
  font-style normal
  font-weight 300
  src url(../fonts/Geometria-Light.otf)


@font-face
  font-family Geometria
  font-style normal
  font-weight 400
  src url(../fonts/Geometria.otf)


@font-face
  font-family Geometria
  font-style normal
  font-weight 500
  src url(../fonts/Geometria-Medium.otf)


@font-face
  font-family Geometria
  font-style normal
  font-weight 700
  src url(../fonts/Geometria-Bold.otf)


@font-face
  font-family Geometria
  font-style normal
  font-weight 800
  src url(../fonts/Geometria-ExtaBlack.otf)
