placeholder(c,o)
  &::-webkit-input-placeholder
    color c
    opacity o
  &::-moz-placeholder
    color c
    opacity o/* Firefox 19+ */
  &:-moz-placeholder
    color c
    opacity o/* Firefox 18- */
  &:-ms-input-placeholder
    color c
    opacity o
