.svg-icon-android {
	width: 12px;
	height: 14px;
}

.svg-icon-apple {
	width: 16px;
	height: 16px;
}

.svg-icon-windows {
	width: 14px;
	height: 14px;
}

.svg-logo-g {
	width: 30px;
	height: 34px;
}

.svg-logo-main {
	width: 100px;
	height: 101px;
}

