// breaks
break-mobile  = 320px
break-tablet  = 768px
break-laptop  = 1280px
break-desktop = 1920px


// media queries
mobile  = 'only screen and (min-width:' + break-mobile + ')'
tablet  = 'only screen and (min-width:' + break-tablet + ')'
laptop  = 'only screen and (min-width:' + break-laptop + ')'
desktop = 'only screen and (min-width:' + break-desktop + ')'

retina1-5x =  'only screen and (min-resolution: 1.5dppx)'
retina2x   =  'only screen and (min-resolution: 2dppx)'
retina3x   =  'only screen and (min-resolution: 3dppx)'


// offsets
offset-mobile = 20px
offset-tablet = 60px

offset-footer-mobile = 30px
offset-footer-tablet = 119px
offset-footer-laptop = 106px
offset-footer-desktop = 288px


// colors
c-link = #007AFF
c-input = rgba(255,255,255,0.9)
c-input-light = rgba(255,255,255,0.7)
c-input-dark = rgba(255,255,255,0.5)


// fonts
fz_base = 18px;
fz_xxxsmall = ceil(fz_base * 0.55);   /* 10px */
fz_xx2small = ceil(fz_base * 0.61);   /* 11px */
fz_xxsmall  = ceil(fz_base * 0.66);   /* 12px */
fz_xsmall   = ceil(fz_base * 0.77);   /* 14px */
fz_xssmall  = ceil(fz_base * 0.83);   /* 15px */
fz_small    = ceil(fz_base * 0.88);   /* 16px */
fz_medium   = ceil(fz_base * 1.11);   /* 20px */
fz_xmedium  = ceil(fz_base * 1.27);   /* 23px */
fz_xxmedium = ceil(fz_base * 1.33);   /* 24px */
fz_large    = ceil(fz_base * 2);      /* 36px */
fz_xlarge   = ceil(fz_base * 2.66);   /* 48px */
fz_xxlarge  = ceil(fz_base * 2.88);   /* 52px */
fz_xxxlarge = ceil(fz_base * 4);      /* 72px */

